body {
    text-align: center;
    font-size:5vw;
    height:100vh;
    margin:0;
  }
  table {
    border-collapse: collapse;
    margin:0 auto;
  }
  table,tr,td,th {
    border:1px solid rgb(215, 43, 43);
    padding:1vw 5vw;
    text-align: center;
  }
  a{
      font-size:2vw;
  }
  